{% extends "includes/base.html" %}
{% load static %}

{% block content %}
{% load humanize %}

<div class="page-wrapper">
<div class="content">
<div class="page-header">
<div class="page-title">
<h4>Customer List</h4>
<h6>Manage your Customer</h6>
</div>
<div class="page-btn">
<a href="{% url 'dashboard:addcutomer'%}" class="btn btn-added"><img src="{% static 'assets/img/icons/plus.svg' %}" alt="img" class="me-1">Add New Customer</a>
</div>
</div>

<div class="card">
<div class="card-body">
<div class="table-top">
<div class="search-set">
<div class="search-path">
<a class="btn btn-filter" id="filter_search">
<img src="{% static 'assets/img/icons/filter.svg' %}" alt="img">
<span><img src="{% static 'assets/img/icons/closes.svg' %}" alt="img"></span>
</a>
</div>
<div class="search-input">
<a class="btn btn-searchset"><img src="{% static 'assets/img/icons/search-white.svg' %}" alt="img"></a>
</div>
</div>
<div class="wordset">
<ul>
<li>
<a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="{% static 'assets/img/icons/pdf.svg' %}" alt="img"></a>
</li>
<li>
<a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="{% static 'assets/img/icons/excel.svg' %}" alt="img"></a>
</li>
<li>
<a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="{% static 'assets/img/icons/printer.svg' %}" alt="img"></a>
</li>
</ul>
</div>
</div>

<div class="card mb-0" id="filter_inputs">
<div class="card-body pb-0">
<div class="row">

</div>
</div>
</div>

<div class="table-responsive">
<table class="table  datanew">
<thead>
<tr>
<th>Name</th>
<th>Email</th>
<th>Phone</th>
<th>Address</th>
<th>Date Joined</th>
<th>Action</th>
</tr>
</thead>
<tbody>
{% for customer in customers %}
<tr>
<td>{{ customer.name }}</td>
<td>{{ customer.email }}</td>
<td>{{ customer.phone }}</td>
<td>{{ customer.address }}</td>
<td>{{ customer.created_at|date:"M d, Y" }}</td>
<td>
<a class="me-3" href="{% url 'dashboard:editcustomer' customer.pk %}">
<img src="{% static 'assets/img/icons/edit.svg' %}" alt="img">
</a>
<a class="confirm-text" href="{% url 'dashboard:deletecustomer' customer.pk %}">
<img src="{% static 'assets/img/icons/delete.svg' %}" alt="img">
</a>
</td>
</tr>
{% empty %}
<p style="color: red;"> No Customer yet </p>
{% endfor %}

</tbody>
</table>
</div>
</div>
</div>

</div>
</div>
</div>

{% endblock content %}

