{% extends "includes/base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="page-wrapper">
<div class="content">
<div class="page-header">
<div class="page-title">
<h4>Profile</h4>
<h6>User Profile</h6>
</div>
</div>

<div class="card">
<div class="card-body">
<div class="profile-set">
<div class="profile-head">
</div>
<div class="profile-top">
<div class="profile-content">
<div class="profile-contentimg">
<img src="{% static 'assets/img/default.jpg' %}" alt="img" id="blah">
<div class="profileupload">
<input type="file" id="imgInp">
<!-- <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/edit-set.svg' %}" alt="img"></a> -->
</div>
</div>
<div class="profile-contentname">
<h2>{{request.user.username}}</h2>
<h4>Updates Your Personal Details.</h4>
</div>
</div>

</div>
</div>
<form method="post">
{% csrf_token %}
{% if form.non_field_errors %}
  <div class="alert alert-danger">
    {% for error in form.non_field_errors %}
      <p>{{ error }}</p>
    {% endfor %}
  </div>
{% endif %}

<div class="row">
<div class="col-lg-6 col-sm-12">
<div class="form-group">
<label>First Name</label>
{{form.first_name}}
</div>
</div>
<div class="col-lg-6 col-sm-12">
<div class="form-group">
<label>Last Name</label>
{{form.last_name}}
</div>
</div>
<div class="col-lg-6 col-sm-12">
<div class="form-group">
<label>Email</label>
{{form.email}}
</div>
</div>
<div class="col-lg-6 col-sm-12">
<div class="form-group">
<label>username</label>
{{form.username}}
</div>
</div>
<div class="col-lg-6 col-sm-12">
<div class="form-group">
<label>password</label>
<div class="pass-group">
{{form.password}}
<span class="fas toggle-password fa-eye-slash"></span>
</div>
</div>
</div>
<div class="col-lg-6 col-sm-12">
<div class="form-group">
<label>Password Conformation</label>
<div class="pass-group">
{{form.password2}}
<span class="fas toggle-password fa-eye-slash"></span>
</div>
</div>
</div>
<div class="col-12">
<button type="submit" class="btn btn-submit me-2">Submit</button>
<a href="{% url 'dashboard:index' %}" class="btn btn-cancel">Cancel</a>
</div>
</div>
</form>
</div>
</div>

</div>
</div>
</div>

{% endblock content %}

